@font-face {
font-family:'GalaxPay';
src: url('icomoon.ttf')
}

#menu-galaxPay-payment-first-level-demo > a:before {
    font-family: 'GalaxPay';
    content: "\e900";
    display: block;
    font-size: 2.2rem;
    height: 2.2rem;
    margin-bottom: .3rem;
}
